* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: white;
  }

.search-btn{
   background-color: #6991e3;
   width: 260px;
   margin-bottom: 10px;
   color: white;
   padding: 10px 0 10px 0px;
   border: none;  /*no border*/
   border-radius: 5px;
   font-family:Calibri, 'Trebuchet MS', sans-serif;
   font-size: 14px;
}
   /*never give height to labels, inputs, buttons or headings*/
.search-input {  /*rounded borders on input box*/
   border-radius: 5px;
   border: 2px solid gray;
   /* padding is for all-around - all side left, rt, up, down */
   padding: 10px 0 10px 5px;  /*means 10px top, 0 right, 10px bottom, 5px left, goes clockwise*/
   width: 260px;
   margin-bottom: 10px;
  }

 .search-form{
    position:relative; /*parent must be relative and child must be absolute*/
 }

  .search-form::after{
    content: "";  /*fake out as if there were text here so can use underline property below button*/
    border-bottom: 5px solid #c8c8c9; /*this is the thickness, style and color of the border*/
    position:absolute;
    bottom:-4px;  /*sets up spacing below*/
    left: 0px;    /*no left spacing*/
    width: 260px;  /*same width (how long) as buttons above and beloww*/
    height: 4px;   /*how thick (high) line is*/
    
  }

  .city-btn {
    background: #aeaeae;
    color: black;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 260px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0px;
    border: none;  /*no border*/
    border-radius: 5px;
    /* font-weight: 500;  /*less than bold bold=600*/
    /* font-size: 16px;*/
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
  }
  

  .outer-div-left{
    width: 30%;
  }


  .outer-div-right{
    width: 70%;
  }

  
  header {
    padding: 5px;
    background-image: linear-gradient(to right, #465ab8 , #261360);
    text-align: center;
  }

  header h1{
    color: white;
  }

  .five-day{
    background-color: #343850; 
    color: white;
  }

  .container{
    max-width: 1170px; /*std size for desktop - automatically fixes spacing on edges*/
    /* center left and right within container. 
     margin left and right only work when specifying width */
    margin-left: auto;  
    margin-right: auto;
   }

  
  main {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  
  section {
    flex: 0 auto;
    padding: 0px;
    margin-top: 0px;
    background-color: #bed8ee;
    border-radius: 0px;
  } 

  /*align button text center*/
  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  }