* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: white;
  }

.search-btn{
   background-color: #6991e3;
   width: 200px;
}
   /*never give height to labels, inputs, buttons or headings*/
.search-input {  /*rounded borders on input box*/
   border-radius: 5px;
   border: 2px solid gray;
   /* padding is for all-around - all side left, rt, up, down */
   padding: 3px;  
   width: 200px;

  }

  .outer-div-left{
    width: 30%;
  }


  .outer-div-right{
    width: 68%;
  }

  .city-btn {
    background: #aeaeae;
    color: black;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 200px;
    /* letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 5px 15px;

    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em; */
  }
  
  header {
    padding: 5px;
    color: black;
    border-bottom:5px #879274;
    font-size: 20px;
  }

  .five-day{
    background-color: #343850; 
    color: white;
  }
  
  main {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  
  section {
    flex: 0 auto;
    padding: 0px;
    margin-top: 0px;
    background-color: #bed8ee;
    border-radius: 0px;
  } 

  /*align button text center*/
  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  }